@import "tailwindcss";

* {
  line-height: 160%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14.7px;
  }
}

html,
body {
  height: 100%;
  overflow-y: hidden;
}
.center {
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
}

img {
  height: 170%;
  width: 170%;
}

.imgbox {
  width: 700px;
  height: 500px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
